/*
Main body colors
#F4EEFF
#DCD6F7
#A6B1E1
#424874
https://colorhunt.co/palette/f4eeffdcd6f7a6b1e1424874
*/

/* Animation */
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.slow-1 {
  animation-duration: 1s;
}
.slow-2 {
  animation-duration: 1.5s;
}
.slow-3 {
  animation-duration: 2s;
}

.fade-up {
  animation-name: fade-up;
}

/* Main Styling */

body {
  margin: 0;
  background-color: #424874;
  font-family: "Source Code Pro", monospace;
}

h1 {
  color: #f4eeff;
  font-size: 3.5rem;
}

h2 {
  color: #f4eeff;
  font-size: 1.5rem;
}

p {
  color: #a6b1e1;
  opacity: 0.5;
}

.container {
  display: flex;
  align-content: flex-start;
  height: 100vh;
  width: 100%;
}

.container-content {
  display: flex;
  justify-content: center;
  gap: 10%;
  width: 100%;
  padding: 5% 15% 10% 15%;
}

.container-left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.container-right {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.profile {
  width: 50%;
  height: 50%;
  border-radius: 3%;
  border-color: black;
  border-image-width: 10px;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  height: 20%;
  width: 100%;
}

/* Utility Classes */

.mt-0 {
  margin-top: 0;
}

.mb-2 {
  margin-bottom: 1.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.pt-1 {
  padding-top: 1rem;
}
