/*
Main body colors
#F4EEFF
#DCD6F7
#A6B1E1
#424874
https://colorhunt.co/palette/f4eeffdcd6f7a6b1e1424874
*/

body {
  margin: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 400px;
  padding: 3vw 20vw 20vw 10vw;
  margin: 0;
}

h1 {
  font-family: "Source Code Pro", monospace;
  color: #f4eeff;
  font-size: 5rem;
}

h2 {
  font-family: "Source Code Pro", monospace;
  color: #f4eeff;
  font-size: 3rem;
}

.title {
  margin-left: 100px;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./layer1.svg");
}

.layer2 {
  background-image: url("./layer2.svg");
}
