/* * {
  border: 1px solid red;
} */

/*
Main body colors
#BBE1FA
#3282B8
#1f385c
#0c192c
https://colorhunt.co/palette/f4eeffdcd6f7a6b1e1424874
*/

* {
  -webkit-font-smoothing: antialiased;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #0f4c75;
  border: 3px solid #0f4c75;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #0c192c;
}
/* animation delays */
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.highlight {
  text-shadow: 0 0 1px #bbe1fa, 0 0 4px #bbe1fa, 0 0 7px #bbe1fa,
    0 0 10px #0f4c75, 0 0 15px #0f4c75, 0 0 20px;
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.absolute {
  position: absolute;
}

.hidden {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0%);
  transition: all 1s;
}

.show {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}

.hidden1 {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-delay: 0.25s;
}

.show1 {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(70px);
}

.language-box:nth-child(2) {
  transition-delay: 0.2s;
}

.language-box:nth-child(4) {
  transition-delay: 0.2s;
}
.language-box:nth-child(6) {
  transition-delay: 0.2s;
}
.language-box:nth-child(8) {
  transition-delay: 0.2s;
}

/* Utility Classes */
.blu3 {
  color: #3282b8;
}

.ta-center {
  text-align: center;
  padding: 2rem 2rem 0rem 2rem;
}
.mt-0 {
  margin-top: 0;
}

.mb-2 {
  margin-bottom: 1.75rem;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.pt-1 {
  padding-top: 1rem;
}

.no-bullets {
  list-style-type: none;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: #f4eeff;
  text-decoration-thickness: 0.2rem;
}

.keywords {
  color: #bbe1fa;
  font-weight: 300px;
  /* text-shadow: 0 0 5px #0f4c75, 0 0 10px #0f4c75, 0 0 20px #0f4c75,
    0 0 30px #0f4c75, 0 0 50px #0f4c75; */
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.centered {
  align-items: center;
  justify-content: center;
}

.jc-center {
  justify-content: center;
}

.jc-spacea {
  justify-content: space-around;
}

.ai-center {
  align-items: center;
}

.sticky {
  position: sticky;
}

.wrap {
  flex-wrap: wrap;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.no-gap {
  gap: 0px;
  align-content: flex-start;
}

.text2 {
  font-family: "Roboto Mono", monospace;
  padding-left: 0.2rem;
}

/* Animation */
@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0.9);
    filter: blur(5px);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) scale(1);
  }
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fast-1 {
  animation-duration: 1s;
}

.slow-1 {
  animation-duration: 1.5s;
}
.slow-2 {
  animation-duration: 1.75s;
}

.slow-3 {
  animation-duration: 0.25s;
}

.fade-up {
  animation-name: fade-up;
  animation-timing-function: linear;
}

.fade-down {
  animation-name: fade-down;
  animation-timing-function: linear;
}

.slide-in-left {
  animation-name: slide-in-left;
  animation-timing-function: ease-out;
}

.fade {
  animation-name: fade;
}

/* Main Styling */

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

h1 {
  color: #bbe1fa;
  font-size: 5rem;
  font-weight: 600px;
  /* text-shadow: 0 0 5px #0f4c75, 0 0 10px #0f4c75, 0 0 20px #0f4c75,
    0 0 30px #0f4c75, 0 0 50px #0f4c75; */
}

h2 {
  color: #3282b8;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0.5;
}

h3 {
  color: #3282b8;
  /* font-size: 1.5rem; */
  text-align: center;
  opacity: 0.5;
}

p {
  color: #a6b1e1;
  opacity: 0.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: #bbe1fa;
}

li > a:hover {
  color: #3282b8;
}

p > span {
  font-weight: bold;
  color: #bbe1fa;
  /* text-shadow: 0 0 5px #0f4c75, 0 0 10px #0f4c75, 0 0 20px #0f4c75,
    0 0 30px #0f4c75, 0 0 50px #0f4c75; */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-1 {
  background-color: transparent;
  border: none;
  background: none;
  color: #f4eeff;
}

.icon-links-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 2rem;
}

.icon-links-li {
  margin-right: 1rem;
}

.container-stay {
  height: 100vh;
  background-color: #0c192c;
}

nav.nav-bar--hidden {
  transform: translateY(-100%);
  -webkit-box-shadow: 0 7px 15px -10px black;
  -moz-box-shadow: 0 7px 15px -10px black;
  box-shadow: 0 7px 15px -10px black;
}

nav {
  transition: transform 150ms ease-in-out;
}

.container-fade {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resp {
  flex-direction: column;
}

li:hover {
  transition: transform 0.1s linear;
  transform: translateY(-6px);
}
svg:hover {
  fill: #bbe1fa;
}

.container-box div.language-box:hover {
  transition: transform 0.1s linear;
  transform: translateY(-6px);
  box-shadow: 0 2.8px 2.2px #0f4c75, 0 6.7px 5.3px #0f4c75,
    0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px #0f4c75,
    0 41.8px 33.4px rgba(0, 0, 0, 0.086);
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, white);
  animation: wheel 2s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: black;
  border-radius: 50%;
  z-index: 1000;
}

.maxw {
  max-width: 80%;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, white);
  border-radius: 50%;
  z-index: 1000;
  z-index: 1;
  filter: blur(30px);
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-title {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10% 10% 10% 10%;
}

.container-content {
  padding-left: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.link-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.spacer {
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layer1 {
  background-image: url("./layer1.svg");
}

.fixed-navbar {
  position: sticky;
  flex-direction: column;
  inset: 0 10% 0 0;
  padding: min(10vh, 10rem) 2rem;
  background: #0c192c;
  z-index: 2;
  --gap: 3rem;
  padding-left: 4.5rem;
  padding-right: 0;
  margin: 0;
  transition: transform 150ms ease-in-out;
}

.hide-nav {
  transform: translateX(-100%);
}

@supports (backdrop-filter: blur(1rem)) {
  .fixed-navbar {
    background: hsl(0 0% 100% /0.1);
    backdrop-filter: blur(1rem);
  }
}

.navbar-item {
  list-style-type: none;
  padding: min(30vh, 1rem) 2em;
  padding-right: 0;
}

.nav-item {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 0.82rem;
  /* text-shadow: 0 0 1px #0f4c75, 0 0 4px #0f4c75, 0 0 8px #0f4c75,
    0 0 15px #0f4c75, 0 0 25px #0f4c75; */
}

.side {
  opacity: 1;
  text-align: left;
}

.nav-toggle {
  z-index: 100;
  background: url("./hamburger.svg");
  background-repeat: no-repeat;
  border: 0;
  width: 3rem;
  aspect-ratio: 1;

  padding: 0;
}
.container-hamburger {
  position: absolute;
  top: 2em;
  left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.fixed {
  position: fixed;
  z-index: 10000;
  background: transparent;
}

.container-expertise {
  overflow-x: hidden;
  overflow-y: auto;
  height: auto;
  background: #0c192c;
  text-align: center;
  padding-top: 3.2rem;
  padding-bottom: 10rem;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.container-languages {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.two3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

#name {
  margin-top: 0;
  margin-bottom: 0;
}

.container-box {
  max-width: 1087px;
  padding-top: 2.5rem;
  height: 100%;
  gap: 2.5rem;
  align-content: flex-start;
}

.language-box {
  width: 8rem;
  height: 7rem;
  border-radius: 0.5rem;
  background-color: #1f385c;
  gap: 5%;
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}

.language-box > p {
  color: #bbe1fa;
  opacity: 1;
}

.logo {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}

.title2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.container-contact {
  height: 100vh;
  background: rgb(15, 76, 117);
  background: linear-gradient(
    360deg,
    rgba(15, 76, 117, 1) 0%,
    rgba(12, 25, 44, 1) 100%
  );
}

.container-projects {
  overflow: auto;
  background: #0c192c;
  padding-bottom: 5rem;
}

.title3 {
  padding: 2rem 0 0 0;
  margin: 0;
  text-align: center;
}

.small-title3 {
  margin: 0;

  opacity: 1;
}

.side-title {
  text-align: left;
}

.container-showcase {
  width: 90%;
}

.container-project {
  width: 100%;
  height: auto;
  flex-direction: column;
  gap: 0;
  padding-top: 2rem;
}
.project-description {
  background: #1f385c;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 0 2rem 1.2rem 2rem;
}

.project-image {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-box:hover img {
  transform: scale(1.1);
}

.about-me {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
}

.about {
  padding: 2rem 0 2rem 0;
}

.profile {
  border-radius: 15px;
  height: auto;
  width: 20rem;
}

.two2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.profile-pic {
  border-radius: 15px;
  height: auto;
  width: 20rem;
}

.about-me-content {
  width: 50%;
  height: auto;
}

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.responsive {
  width: 100%;
  height: auto;
}

.high {
  padding-top: 0.7rem;
  font-size: larger;
  opacity: 1;
  color: white;
  font-weight: 500;
}

.project-text {
  padding-top: 0.5rem;
  opacity: 1;
}

.small-text {
  animation-delay: 1s;
}

.main-title {
  animation-delay: 1.2s;
}

.side-title {
  animation-delay: 1.4s;
}

/* Media Queries */
@media (max-width: 319px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }

  h2 {
    font-size: 1rem;
  }

  span .keywords {
    font-size: 1rem;
  }
  .container-content {
    padding-left: 0;
  }
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */

  .container-title > h1 {
    text-align: center;
  }

  .container-content {
    padding-left: 0;
  }
  .nav-item {
    font-size: 1.15rem;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .nav-item {
    font-size: 1.3rem;
  }
  .language-box:nth-child(2) {
    transition-delay: 0.2s;
  }
  .language-box:nth-child(3) {
    transition-delay: 0.4s;
  }
  .language-box:nth-child(5) {
    transition-delay: 0.2s;
  }
  .language-box:nth-child(6) {
    transition-delay: 0.4s;
  }
  .language-box:nth-child(7) {
    transition-delay: 0.2s;
  }
  .language-box:nth-child(8) {
    transition-delay: 0.4s;
  }
}

@media (min-width: 624px) {
  .language-box {
    width: 9.5rem;
    height: 9rem;
    border-radius: 0.5rem;
    gap: 5%;
  }

  .container-box {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 5rem;
  }

  @media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .navbar-item {
      padding-left: 1.3rem;
    }
  }
}

@media (min-width: 859px) {
  .language-box:nth-child(2) {
    transition-delay: 0.2s;
  }
  .language-box:nth-child(3) {
    transition-delay: 0.4s;
  }
  .language-box:nth-child(4) {
    transition-delay: 0.6s;
  }
  .language-box:nth-child(6) {
    transition-delay: 0.2s;
  }
  .language-box:nth-child(7) {
    transition-delay: 0.4s;
  }
  .language-box:nth-child(8) {
    transition-delay: 0.6s;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .maxw {
    max-width: 50%;
  }
  .two3 {
    flex-direction: row;
  }

  .side {
    text-align: center;
  }

  .container-languages {
    flex-direction: column;
  }

  .main1 {
    text-align: left;
  }

  .container-showcase {
    gap: 2rem;
  }

  .container-project {
    padding-bottom: 0;
    width: 40%;
  }

  .container-sidelink {
    position: fixed;
    bottom: 0;
    left: 2rem;
    background: red;
  }

  .nav-toggle {
    display: none;
  }

  .resp {
    flex-direction: row;
  }

  .fixed-navbar {
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 2rem 0 1rem 0;
    height: auto;
  }

  .container-expertise {
    flex-direction: column;
  }

  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: transform 300ms ease-in-out;
  }

  nav.max-height {
    height: 10%;
  }

  .hide-nav {
    transform: none;
  }

  .fixed-navbar > ul {
    padding-left: 0;
  }

  .navbar-item {
    padding: 0 0.1rem 0 0.1rem;
    display: inline;
    color: #bbe1fa;
  }

  .nav-item {
    font-size: 1.5rem;
  }

  .container-content {
    margin-left: 3rem;
    justify-content: center;
  }

  h2 {
    font-size: 1.25rem;
  }

  span .keywords {
    font-size: 0.75em;
  }

  .nav-item {
    font-size: 1.25rem;
  }

  .container-expertise {
    flex-direction: row;
  }

  .about-me {
    flex-direction: row;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container-content {
    padding-left: 3rem;
  }

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  span .keywords {
    font-size: 1.5rem;
  }

  .navbar-item {
    padding: 0 0.6rem 0 0.6rem;
  }
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

  h2 {
    font-size: 1.75rem;
  }

  span .keywords {
    font-size: 3rem;
  }
  .nav-item {
    font-size: 1.3rem;
  }

  .navbar-item {
    padding: 0 1.5rem 0 1.5rem;
  }
}

/* SVG for Expertise */
.html {
  background: url("./images/HTML.svg");
  animation-delay: 0;
}

.c {
  background: url("./images/C.svg");
  animation-delay: 0.3s;
}

.cpp {
  background: url("./images/CPP.svg");
  animation-delay: 0.6s;
}

.node {
  background: url("./images/NODEJS.svg");
  animation-delay: 0.9s;
}

.js {
  background: url("./images/JS.svg");
}

.git {
  background: url("./images/GIT.svg");
}

.css {
  background: url("./images/CSS.svg");
}

.react {
  background: url("./images/REACT.svg");
}

.tensorflow {
  background: url("./images/TENSORFLOW.svg");
}

.python {
  background: url("./images/PYTHON.svg");
}

.flask {
  background: url("./images/FLASK.svg");
}

/* Delays for navbar and home text */

.zero {
  animation-delay: 0.2s;
}
.one {
  animation-delay: 0.4s;
}
.two {
  animation-delay: 0.6s;
}
.three {
  animation-delay: 0.8s;
}

.github {
  animation-delay: 1s;
}
.linkedin {
  animation-delay: 0.4s;
}
.instagram {
  animation-delay: 0.6s;
}
